/* #region general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 1200px;  /* solo per adesso */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --header-bg-color: #255EE8;
    --header-sections-bg-color: #255EE8;

    --main-heroimg-bg-color: #00008B;

    --main-third-and-footer-bg-color: #23272A;
    
    --button-blue-big-main: #8EA0E1;

    --text-footer-color: #6C82CE;

    --main-bg-color-second: #F6F6F6;
}

/* example:   background-color: var(--header-bg-color: #ADD8E6) */
/* #endregion utilities */


/* #region utilities */
.container-width{
    min-width: 85%;
}


/*
.debug{
    border: 1px dashed black;
}


.debug-white{
    border: 1px dashed white;
}
*/


.container-main-height-px{
    height: 500px;
}

.container-main-height-percent{
    height: 90%;
}

.container-jumbo{
    min-width: 750px;
    max-height: 330px;
    margin-top: -50px;
}

.main-container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-p-container{
    max-width: 90%;
}

.container-black{
    background-color: var(--main-third-and-footer-bg-color);
}

.white-container{
    background-color: var(--main-bg-color-first);
}

.grey{
    background-color: var(--main-bg-color-second);
}

.font-white{
    color: white;
}

.font-violet{
    color: var(--text-footer-color);
    font-weight: bold;
}

.btn-white{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
}

.btn-bw{
    background-color: #23272A;
    color: white;
}

svg{
    fill: white;
}

.cursor-p{
    cursor: pointer;
}

.text-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-17{
    font-size: 18px;
    line-height: 28px;
}

.font-p{
    font-size: 20px;
    word-spacing: 4px;
    line-height: 28px;
    margin-bottom: 30px;
}

.hero-header{
    min-width: 600px;
    font-size: 55px; 
    font-weight: bold;
}

.elements-container{
    min-width: 80%;
    height: 500px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;

    margin-top: 100px;
    margin-bottom: 100px;
}

.svg-arrow{
    padding-right: 8px;
    height: 18px; 
    fill:black;
}

.big-container-main{
    width: 85%;
}

.text-container{
    height: 100%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
}

.text-container-2{
    height: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.text-cont-title{
    font-weight: bold;
    font-size: 50px;
}

.pad-bot{
    padding-bottom: 20px;
}

.pad-top{
    padding-top: 110px;
}

.img-main{
    margin-top: -33px;
    margin-left: -33px;
}

.img-main-2{
    max-width: 62%;
    margin-top: -25px;
    margin-left: -33px;
}

.wave{
    width: 100%;
    height: 120px;
    background-color: var(--main-bg-color-second);
    mask-image: url(../img2/wave.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    --webkit-mask-image: url(../img2/wave.svg);
    --webkit-mask-repeat: no-repeat;
    --webkit-mask-position: center;
    --webkit-mask-size: contain;

    margin-top: -10px;
}

.wave2{
    width: 100%;
    height: 120px;
    background-color: var(--main-bg-color-second);
    mask-image: url(../img2/wave.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    --webkit-mask-image: url(../img2/wave.svg);
    --webkit-mask-repeat: no-repeat;
    --webkit-mask-position: center;
    --webkit-mask-size: contain;

    rotate: -180deg;
}
/* #endregion utilities */


/* #region header */
header{
    display: flex;
    justify-content: space-around;
    background-color: var(--header-bg-color);
}

.header-dimensions{
    padding-top: 30px;
    width: 85%;
}

.header-elements-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-sections-bg-color);
    margin:  auto;
    font-size: 14px;
    padding-bottom: 20px;
}

.header-elements-container .left-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    padding-left: 25px;
}

.header-elements-container .middle-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.header-elements-container .right-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    padding-right: 25px;
}

.first-head{
    font-size: 47px; 
    font-weight: bold;
    margin-bottom: -30px;
}
/* #endregion header */


/* #region main */
.hero-container{
    padding-top: 150px;
    padding-bottom: 100px;
    margin-bottom: 30px;
    max-height: 450px;
    background-image: url(../img2/jumbo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.hero-container div{
    width: 70%;
}

.flex-btn{
    display: flex;
    justify-content: space-between;
}

.text-jumbo{
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    min-width: 750px;
}

.text-jumbo2{
    margin-top: 55px;
    margin-bottom: 25px;
    text-align: center;
    max-width:92%
}

.container-huge-main-height-px{
    height: 1000px;
}

.text-hero-last{
    min-width: 80%;
}

.last-head{
    font-size: 48px; 
    font-weight: bold;
    margin-bottom: -30px;
}

.img-stars{
    width: 60%;
    margin-bottom: -10px;
}

.big-main-txt{
    font-size: 30px;
    font-weight: bold;
}

.btn-big-main{
    background-color: var(--button-blue-big-main);
    border: 0;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 140px;

    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;

    display: flex;
    align-items: center;
}

.svg-arrow2{
    height: 20px;
    padding-right: 10px;
}

.list-style{
    list-style: none;
}
/* #endregion main */


/* #region footer */
.bigger-container-height{
    height: 550px;
}

.footer-list-container{
    width: 85%;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid var(--button-blue-big-main);

    margin-top: 50px; 
}

.container-footer-non-lil{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-footer-lil{
    background-color: var(--footer-container-second-color);
    height: 100%;
    width: 17%;
}

.social-svgs{
    display: flex;
    width: 35%;
}

.footer-h{
    font-size: 30px;
    font-weight: bold;
}

.padding-general{
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-ita{
    width: 25px;
}

ul > li{
    padding-bottom: 14px;
}

.footer-big-container{
    width: 100%;   
    height: 400px;
}

.last-footer-container{
    display: flex;
    justify-content: space-between;
    align-items: start;

    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-bottom: 80px;
}

.btn-sign{
    background-color: var(--button-blue-big-main);
    border: 0;
    border-radius: 30px;
    color: white;
    font-size: 15px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    cursor: pointer;
}
/* #endregion footer */